build --workspace_status_command=stamping/workspace_status.sh
build --incompatible_strict_action_env
build --java_runtime_version=remotejdk_11

build --action_env=ZERO_AR_DATE=1 # https://github.com/bazelbuild/bazel/issues/10886

try-import buildbuddy.bazelrc

build --incompatible_enable_cc_toolchain_resolution
