name: Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]
        # Latest version of required software, and a minimum version as
        # specified in the README.
        bazel_version: [latest, 4.0.0] # Also hard-coded in r_rules_dependencies.
        # Our minimum required version is 3.6.3 but there is some issue with
        # installation on the runners using the below action provider, so let's
        # use 4.0.5 instead.
        r_version: [release, 4.0.5] # Also hard-coded in system_state.sh.
    steps:
    - name: Check out repo
      uses: actions/checkout@v2

    - name: Setup R
      uses: r-lib/actions/setup-r@v1
      with:
        r-version: ${{ matrix.r_version }}

    - name: Install additional packages
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt-get install libcurl4-openssl-dev

    - name: Create Buildbuddy certs
      shell: bash
      env:
        BUILDBUDDY_ORG_CERT: ${{ secrets.BUILDBUDDY_ORG_CERT }}
        BUILDBUDDY_ORG_KEY: ${{ secrets.BUILDBUDDY_ORG_KEY }}
      run: |
        if [[ "${BUILDBUDDY_ORG_CERT}" ]]; then
          echo "${BUILDBUDDY_ORG_CERT}">tests/buildbuddy-cert.pem
          echo "build --tls_client_certificate=buildbuddy-cert.pem">>tests/auth.bazelrc
        fi
        if [[ "${BUILDBUDDY_ORG_KEY}" ]]; then
          echo "${BUILDBUDDY_ORG_KEY}">tests/buildbuddy-key.pem
          echo "build --tls_client_key=buildbuddy-key.pem">>tests/auth.bazelrc
        fi

    - name: Run tests
      env:
        USE_BAZEL_VERSION: ${{ matrix.bazel_version }}
      run: tests/run_tests.sh

    - name: Archive debug artifacts
      uses: actions/upload-artifact@v2
      if: ${{ always() }}
      with:
        name: archive-debug-artifacts
        path: /tmp/debug-artifacts/*
